<h3>本当に退会しますか？</h3>

<p>
  退会すると、会員登録情報や</br>
  これまでの購入履歴が閲覧できなくなります。</br>
  退会する場合は、「退会する」をクリックしてください。
</p>

<%= link_to mypage_path do %>
  退会しない
<% end %>

<%= link_to '退会する', withdraw_path, method: :patch %>