<div class="container">
  <div class="row">
    <div class="col-2 mx-auto">
      <h1>About</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-9 mx-auto">
      <p class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。
      </p>
    </div>
  </div>
</div>

