<div class="container">
  <div class="row">
    <div class="col m-4"><h2>注文履歴一覧</h2></div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-active">
        <th class="col-3">購入日時</th>
        <th class="col-3">購入者</th>
        <th class="col-2">注文個数</th>
        <th class="col-4">注文ステータス</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), style: 'color: black; text-decoration: underline;' %></td>
            <td><%= order.customer.last_name + order.customer.first_name %></td>
            <td><%= order.order_items.all.sum(:amount) %></td>
            <td>
              <% if order.order_status == "payment_waiting" then %>
                入金待ち
              <% elsif order.order_status == "payment_confirm" then %>
                入金確認
              <% elsif order.order_status == "in_production" then %>
                製作中
              <% elsif order.order_status == "preparing_delivery" then %>
                発送準備中
              <% else %>
                発送済み
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


