<h2>商品一覧</h2>

<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= attachment_image_tag item, :image, style:"width:100%; bottom: 45px;" %>
  <% end %>
  <%= item.name %>
  <%= item.add_tax_price.to_s(:delimited) %>円
<% end %>

